microblog/
test/
work #2/venv
work #2/__pycache__
/templates/
UI-schedule/venv
UI-schedule/templates
Calculator/venv/
MyWebApp/__pycache__
MyWebApp/venv
MyWebApp/trash
Schedule_BVT2107/venv
Telegram Bot/venv